/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Roboto:400,400i,700&display=swap');

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
font-family: 'Roboto', sans-serif;
width: 60em;
margin: 0 auto;
line-height: 2em;
}

code {
	
}

h1, h2, h3 {
font-family: 'Lato', sans-serif;
text-align: center;
padding: 1em;
}

h1 {

}

h2 {

}

h3 {
	
}

header {

}

main {

}

p {

}

#intro {

}

#how-does-it-work, #influence, #joke {

}